.screen-center {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.monitor-line {
    height: 50%;
}

.monitor-line-cell {
    text-align: center;
}

.chart-item {
    width: 600px;
    height: 600px;
}
