.screen-center {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-flex;
}

.monitor-line {
    height: 50%;
}

.monitor-col {
    width: 50%;
}

.monitor-messages-list {
    overflow: hidden;
    padding-left: 45px;
}

.monitor-bar-title {
    cursor: default;
}

.monitor-bar-logo {
    width: 48px;
    height: 48px;
}

.monitor-chart {
    height: 100%;
    width: 90%;
    display: table;
    padding: 20px;
}

.monitor-chart-paper {
    height: 80%;
    width: 80%;    
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.monitor-stand-state {
    height: 100%;
    width: 90%;
    display: table;
    padding: 20px;
}

.monitor-stand-state-paper {
    height: 80%;
    width: 80%;    
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.monitor-stand-state-info-enter {
    opacity: 0.01;
}
  
.monitor-stand-state-info-enter.monitor-stand-state-info-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}
  
.monitor-stand-state-info-leave {
    opacity: 1;
}
  
.monitor-stand-state-info-leave.monitor-stand-state-info-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}