.screen-center {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-flex;
}

.monitor-line {
    height: 50%;
}

.monitor-col {
    width: 50%;
}

.monitor-messages-list {
    overflow: hidden;
    padding-left: 45px;
}

.monitor-bar-title {
    cursor: default;
}

.monitor-bar-logo {
    width: 48px;
    height: 48px;
}
